nav .brand-logo {
	padding-left: 50px !important;
}
/*.parallax > img {
	width: 100vw;
	height: 100vh;
	background: #000;
}*/
.parallax-container {

}
.parallax img {
	width: 100vw;
}
.parallax img:first-child {
	filter: brightness(60%);
}
.modal {
	width: 30%;
}
.par-text {
	color: #fff;
	font-family: sans-serif;
	font-size: 80px;
	font-weight: bold;
	font-style: italic;
	text-shadow: 2px 2px 5px #000;
	position: absolute;
	top: 200px;
	width: 100vw;
	text-align: center;
}